@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
   --success: #a9ffb4ed;
   --warning: #fffca9ed;
   --info: #a9e7ffed;
   --error: #ffa9a9ed;
   --font: Poppins, sans-serif;
}

.notify-main {
	position: absolute;
	right: 1vh;
	text-align: center;
    font-family: var(--font);
}

.notifytext {
	width: fit-content;
	border-radius: .9vh;
	padding: .2vh;
	font-size: 1.4vh;
	font-weight: 700;
	color: #000;
	margin: 1vh;
	border-bottom: none;
	height: 5vh
}

.notifytext i {
	float: left;
	border-radius: 15vh;
	width: 3.7vh;
	opacity: .9;
	letter-spacing: -8vh;
	font-size: 3vh;
	padding-top: .8vh;
	padding-right: 1vh
}

.notifytext p {
	display: inline;
	line-height: 5vh;
	margin-left: 2vh;
	margin-right: 3vh
}


.success{background-color: var(--success);}
.warning{background-color: var(--warning);}
.info{background-color: var(--info);}
.error{background-color: var(--error);}
